<h3>Współczynniki równania ax^2 + bx + c = 0</h3>
<form class="form-horizontal">
    <div class="form-group">
        <label for="a" class="col-sm-2 control-label">a</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="a" data-bind="value: a">
        </div>
    </div>
    <div class="form-group">
        <label for="b" class="col-sm-2 control-label">b</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="b" data-bind="value: b">
        </div>
    </div>
    <div class="form-group">
        <label for="c" class="col-sm-2 control-label">c</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="c" data-bind="value: c">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button data-bind='click: resolve' class="btn btn-success">Oblicz pierwiastki</button>
        </div>
    </div>
</form>

<div class="well" data-bind="visible: obliczono()">
    <h4>Rozwiązania równania ax^2 + bx + c = 0</h4>
    <p>Równanie posiada <span data-bind="text: liczba_rozwiazan"></span> rozwiązań rzeczywistych:</p>
    <p data-bind="visible: liczba_rozwiazan() > 0" >x1 = <span data-bind="text: x1"></span></p>
    <p data-bind="visible: liczba_rozwiazan() == 2">x2 = <span data-bind="text: x2"></span></p>
</div>